include ../mixin/common
//-variable
block var
- var title = (typeof(title) === 'undefined' || title == "") ? "" : title;
- var scriptpage;
- var subPage = (typeof(subPage) === 'undefined' || subPage == "") ? "" : subPage;

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content='Fashon Shop is a responsive website using Jade, Bootstrap, Less framework.')
    meta(name='keywords', content='html5, responsive, shop theme, CSS3, bootstrap theme ')
    meta(name='author', content='Nguyen Dao Thien Kim')
    link(rel='icon', href='./images/favicon.ico' type='image/x-icon')    
    title Fashion Shop | #{title}
    link(href='css/plugin.min.css', rel='stylesheet', media='all')
    link(href='css/style.css', rel='stylesheet', media='all')
    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->
  body(class=subPage)
    if (subPage === "index")
        .fancybox-ad.clearfix(style="display:none;")
            .promo.col-md-5
                img(src='images/img-ad.jpg', alt='Advertisement')
            .content.col-md-7
                .header
                    span.off.highlight 20%
                    span.uppercase-text
                        | one day 
                        span.highlight discount
                        | <br/>every month
                .main.clearfix
                    h4.uppercase.font-light Subscribe and don't miss it!
                    form(action='', method='post')
                        input(type='text', class='uppercase', name='email', placeholder='Your Email')
                        input(type='submit', class='btn', value='Send')
            ul.social-icon.list-inline
                li: span recommend for friends
                li: a(href=""): i.fa.fa-facebook.round-icon
                li: a(href=""): i.fa.fa-twitter.round-icon
                li: a(href=""): i.fa.fa-rss.round-icon

    .container
        //- include header
        include ../includes/header
        .breadcrumb-wrapper
            block breadcrumb
        .contentWrapper.row
            block content
        //- include footer
        include ../includes/footer
    #back-top
        a(href="", title="Back to top"): i.fa.fa-chevron-up
            

    //-  Include all compiled plugins (below), or include individual files as needed
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTt3yRgnZFOFWHKPqBR2PhnhQDBC1vhTs")    
    script(src='js/plugin.min.js')
    script(src='js/main.js')
