footer{
	margin-top: 50px;
	background-color: $black;
}
.widgets{
    padding: 10px 10px 20px;
	color:$white;
	.widget-title{
		padding: 10px 0;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: #6F6C6C 1px solid;
	}
	.list-icon{
		float: left;
		margin-right: 10px;
	}
	.widget-content li, .address-area li{
		margin-top:15px; 
		a{	
			color:$white;
		}
	}
	.round-icon{
		background:none;
	}
}
.footer-sub{
	background-color: $grey; 
	padding: 10px;	
	a{
		display: inline-block;
		width: 40px;
		margin-left: 5px;
	}
}
.vmid > *{
	display:table-cell;
	vertical-align:middle;
}
#back-top {
	position: fixed;
	right: 10px;
	bottom: 40px;
	a, a span{
		display: table-cell;
		vertical-align: middle;
		line-height: 40px;
		z-index: 99;
		border-radius: 25px;
		width: 40px;
		height: 40px;
		background: rgba(153,153,153,.5);
		color: #fff;
		text-align: center;
	}
	a:hover, a span:hover{
		background: rgba(119,119,119,.5);
	}
}
