// .breadcrumb
// .header-block
// .menu-block
@import "_variables";
.header-section{
	position: relative;
	margin-top:20px;
	margin-bottom: 20px;
}
.logo-wrapper a{
	display: inline-block;
	width: 260px;
	height: 82px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
}
.sub-menu{
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
.menu-item{
	margin-bottom: 20px;
	font-size: $sm-fontsize;
	text-transform: uppercase;
	.option-list{
		margin-left: 10px;
		float: right;
		li{
			float: left;
			margin-left: 2px;
			a{
				display: block;
				width: 18px;
				height: 18px;
				line-height: 18px;
				text-align: center;
				background-color: $grey;
			}
			&.active a, a:hover{
				text-decoration: none;
				color:$white;
				background-color: $black;
			}
		}
	}
	.menu-list li {
		float: left;
		+ li{
			margin-left: 10px;
		}
	}
}
.menu-block{
	position:relative;
	background-color: $white;
	@inclue box-shadow(0 1px 4px rgba(0,0,0,.2));
	a{
		text-decoration: none;
	}
}
.main-menu{
	> li{ 
		float:left;
		> a{
			display: block;
			font-weight: bold;
			text-transform:uppercase;
			padding: 1em 1.5em;
		}
		&.active > a{
			color: $highlight-color;
		}
	}
	.mega-sub{
		a:before{
			font-family: $iconfont;
			content: "\e6f0";
			font-size: 5px;
			margin-right: 12px;
			position: relative;
			bottom: 2px;
			speak: none;
			-webkit-font-smoothing: antialiased;
		}
	}
	.btn-black{
		background-color: $black;
	}
	h5{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.mega-menu {
	display:none;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	padding: 15px 0;
	z-index: 100;
	border-top: 2px solid #DF0A71;
	background: $white;
	@inclue box-shadow(0 3px 5px rgba(0,0,0,.2)) ;
	.menu-title {
		font-size: $lg-fontsize;
		margin-bottom: 20px;
	}
	li + li{
		padding-top: 10px;
	}
}
.cart-block{
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: $highlight-color;
	.cart-view{
		color: $white;
		.fa-shopping-cart{
			font-size: 16px;
			position: relative;
			padding: 0 10px;
		}
		span{
			display:inline-block;
			padding: 14px 10px;
			font-weight: bold;
			border-left: 1px solid $white;
		}
	}
	.sub-cart{
		width: 100%;
		padding: 10px 10px 20px;
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		margin-top: 5px;
		background: $highlight-color;
		z-index:999;
		@include box-shadow(0 0 3px rgba(0,0,0,.15));
		a:hover{color: initial;}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 8px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 8px 0;
			border-color: #f2f2f2 transparent transparent;
			@inclue transform(rotate(360deg));
		}
		.item {
			padding: 0 10px 10px;
			position:relative;
		}
		.close {
			position:absolute;
			top: 0;
			right: 10px;
			width: 16px;
			height: 16px;
			font-size: 14px;
			color: $white;
			text-shadow: none;
			background: lighten($black, 20%);
			@inclue transition(all .1s ease);
		}
		.entry-thumbnail {
			width: 30%;
			float: left;
			padding-right: 10px;
		}
		.info{
			float:left;
			width: 70%;
			padding-right: 20px;
			@include box-sizing();
		}
		.entry-title{
			display:block;
			margin-bottom: 10px;
		}
		.cart-header{
			padding: 10px 0;
			border-bottom: 1px solid #f2f2f2;
			margin-bottom: 1em;
			color: $white;
		}
		.cart-total{
			background: $white;
			padding: .7em 1em;
			margin-bottom: 10px;
		}
		.btn-black:hover{ color: $white;}
	}
}
.breadcrumb>li+li:before{
	content: "";
}
.breadcrumb{
	padding: 0;
	background-color: transparent;
	li{
		padding: 10px 10px 10px 30px;
		background: #eee;
		position: relative;
		&:before, &:after {
			content: " ";
			position: absolute;
			top: 50%;
			left: 100%;
			margin-top: -1.5em;
			border-top: 1.5em solid transparent;
			border-bottom: 1.5em solid transparent;
		}
		&:before{
			margin-left: 2px;
			border-left: 1em solid $white;
			z-index: 1;
		}
		&:after{
			border-left: 1em solid #eee;
			z-index: 9;
		}
		&.active {
			background: $dark-grey;
			color: $white;
			&:after{
				border-left-color: $dark-grey;
			}
		}
		a{
			color: $dark-grey;
		}
	}
} 
	
