.sidebar{
	section {
		margin-bottom: 20px;
		background: $white;
		@include box-shadow(0 1px 4px rgba(0,0,0,.2)) ; 
	}
	header{
		padding: 10px 15px;
		color: $white;
		font-weight:bold;
		text-align: center;
		text-transform: uppercase;
		background-color: $black;
	}
	.content-block{
		padding: 10px;
	}
	.list-item{
		+ .list-item{
			padding-top: 10px;
			margin-top: 10px;
			border-top:1px solid $grey;
		}
		img{
			width: 30%;
			float:left;
			padding-right: 10px;
		} 
		.detail{
			float:left;
			width:70%;
			@include box-sizing();
		}
		.title{
			display:block;
			margin-bottom: 10px;
		} 
	}
}
.category-block{
	li{
		background:url(../images/marker2.png) 0 50% no-repeat;
		padding-left: 10px;
		+ li{
			margin-top: 15px;
		}
		&:hover, &.active{
			margin-left:10px;
		}
	}
}
.tag-block{
	a{
		@include box-shadow(inset 1px 0px 0px 1px rgba(0,0,0,0.1));
		padding:5px;
		background:#CCC;
		margin-bottom: 5px;
		display:inline-block;
	}
}
.latest-articles{
	.fa{
		display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
	}
	.date{
		color: $dark-grey;
	}
}