//- extends layout to your side
extends layout/layout
mixin comment-item(img, des, name, date)
  li.comment-content.clearfix
    .comment-block.clearfix
      .user-avatar
        if (img)
          img.img-responsive(src='images/#{img}.jpg', alt='')
        else
          img.img-responsive(src='images/avatar-default.jpg', alt='')
      .comment-text
        p!= des
    .comment-info
      a.btn-grey.pull-right(href='')
        i.fa.fa-reply-all
        | Reply
      strong.user-name= name
      span.comment-date= date
    if(block)
      block
block var
  - scriptpage = "home";
  - subPage = "blog-detail";
  - title = "Fashion Shop";
block breadcrumb
  +breadcrumb([["Home", "index.html"],["Blog", ""],["New collections", ""]], "Summer collections 2013")
block content
  aside.sidebar.col-sm-4.col-md-3.hidden-xs
    //- category
    section.category-block
      header Categories
      .content-block 
        ul.list-unstyled
          +li(["New Arrivals <span>(547)</span>", ""])  
          +li(["Tops <span>(547)</span>", ""])  
          +li(["Shirts & Blouses <span>(860)</span>", ""])  
          +li(["Trousers <span>(118)</span>", ""])  
          +li(["Jeans <span>(131)</span>", ""])  
          +li(["Dresses <span>(624)</span>", ""]) 
          +li(["Skirts  <span>(329)</span>", ""]) 
          +li(["Jackets &amp; Coats <span>(135)</span>", ""]) 
          +li(["Nightwear <span>(39)</span>", ""]) 
          +li(["Shoulder Bag <span>(251)</span>", ""]) 
          +li(["Shoes <span>(30)</span>", ""]) 
          +li(["Nightwear <span>(25)</span>", ""]) 
    //- visited product 
    +side-item("product", "You have visited",[["One Shoulder Asymmetric Dress", "pro-02", "125,90"], ["One Shoulder Asymmetric Dress", "pro-02", "125,90"]]).visited-block
    section.tag-block
      header Tag Cloud
      .content-block
        .tag-cloud
          +a("New collections", "") 
          +a("Jacket", "") 
          +a("Fashion", "") 
          +a("Casual", "") 
          +a("Tommy Mancini", "") 
          +a("Utamur tincidunt", "")
  #col-right.col-md-9.col-sm-8.col-xs-12
    .blog-content
      .post-block
        .post-frame
          img(src='images/blog.jpg', alt='', style='width:100%;')
          .post-date
            .camera.fa.fa-camera
            span 23-09-2013
        .post-detail.clearfix
          h3 Tommy Mancini brings the Summer Collection 2013
          ul.list-unstyled
            li
              i.fa.fa-user 
              | by Admin
            li
              i.fa.fa-comments 
              | 4 Comments
            li
              i.fa.fa-tags 
              | Casual, Fashion, Vintage
          +social-icon(['twitter', 'linkedin', 'facebook', 'xing', 'rss'])
        //- p Lorem ipsum dolor sit amet, consectetur acing elit. Curabitur consequat metus a elittincidunt, a eleifend libero pellentesque. Quisque lputate lorem a vehicula porta. Vestibulum sem ipsum, porttitor tristique pharetra in, commodo eget ipsum. Morbi dui nulla, consequat eget gravida eu, hendrerit posuere tellus.
        blockquote
          p A good design can feel like something you have always been waiting for without knowing. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          cite From WWF's website
        p Lorem ipsum dolor sit amet, consectetur acing elit. Curabitur consequat metus a elittincidunt, a eleifend libero pellentesque. Quisque lputate lorem a vehicula porta. Vestibulum sem ipsum, porttitor tristique pharetra in, commodo eget ipsum. Morbi dui nulla, consequat eget gravida eu, hendrerit posuere tellus. Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper in nec risus. Pellentesque fringilla diam faucibus tortor bibendum vulputate. Etiam turpis urna, rhoncus et mattis ut, dapibus eu nunc. Nunc sed aliquet nisi.
      .blog-comment-block
        h3 Comments (4)
        ol.list-unstyled
          +comment-item("", "Ut case complectitur sit. Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. In per perfecto suscipiantur. Eos ad admodum detraxit oportere. Id exerci vivendum ius, has wisi omittam ei, est an eros argumentum scriptorem.", "Ariston Atilio", "20 September, 2013, 21:00")
            ul.list-unstyled.has-child
              +comment-item("avatar-01", "Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. In per perfecto suscipiantur. Eos ad admodum detraxit oportere. Id exerci vivendum ius, has wisi omittam ei, est an eros argumentum scriptorem.", "Ariston Atilio", "20 September, 2013, 21:00")
          
      //- .comment-form-block.clearfix
      //-   h3 Leave a Comment
      //-   form.col-md-8(action='', method='post')
      //-     .form-group.row
      //-       label.required.col-xs-3.col-form-label(for='') Your name:
      //-       .col-xs-9
      //-         input.error.form-control(type='text', placeholder='Your name', id='')
      //-       span.error-msg
      //-         i.iconfont-warning-sign
      //-         | This is an error message
      //-     .form-group.row
      //-       label.required.col-xs-3.col-form-label(for='') Email:
      //-       input.col-xs-9(type='text', placeholder='Your name')
      //-     .form-group.row
      //-       label.required.col-xs-3.col-form-label(for='') Comment:
      //-       textarea.col-xs-9(placeholder='Your name', id='', cols='9', rows='9')
      //-     input.btn-black.col-xs-push-3(type='submit', value='Post a Comment')
