//- extends layout to your side
extends layout/layout

block var
  - scriptpage = "home";
  - subPage = "contact";
  - title = "Contact us";
block breadcrumb
  +breadcrumb([["Home", "index.html"]], "Contact us")
block content
  #map-canvas.col-md-12(style='height:350px; margin-bottom:20px;')
  .col-md-8.col-sm-7.col-sm-12.contact-form.grey-bg
      header(style='text-align:left;') Leave Us a Message
      .content-inner 
        form(action='#', method='post', id="frm-contact")
          .row
            .col-md-4.col-sm-12.col-sm-12
              .form-group
                input.form-control(type='text', name='name', placeholder='Name*')
            .col-md-4.col-sm-12.col-sm-12
              .form-group
                input.form-control(type='text', name='email', placeholder='Email*')
            .col-md-4.col-sm-12.col-sm-12
              .form-group
                input.form-control(type='text', name='website', placeholder='Website*')
          .row
            .col-md-12.col-sm-12.col-sm-12
              .form-group
                textarea.form-control(rows='10', cols='10', name='comment', placeholder='Comment*')
            .col-md-2
              input.btn-black(type='submit', name='name', value='Continue')
  .col-md-4.col-sm-5.col-xs-12.address-box(style='padding-right:0;')
    header Address
    .address-area.content-inner
      ul.list-unstyled.list-block
        li
          i.round-icon.fa.fa-map-marker.list-icon
          a.list-content(href='')
            | 1259, CALIFORNIA ST
            br
            |  NEW YORK.
        li
          i.round-icon.fa.fa-phone.list-icon
          a.list-content(href='')
            | 843.724.0123 
            br
            |  843.724.0234
        li
          i.round-icon.fa.fa-envelope.list-icon
          a.list-content(href='')
            | info@company.com 
            br
            | (And we will respond you right away)
