//- http://preview.themeforest.net/item/saturday-ecommerce-responsive-email-template/full_screen_preview/6406244?_ga=1.19969080.1499586698.1467879136
//- http://preview.themeforest.net/item/pearl-html-multipurpose-email-template-builder/full_screen_preview/15500127?_ga=1.19969080.1499586698.1467879136
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Demystifying Email Design
    style.
      a{color: #000000; text-decoration: none;}
      body{font-family: 'Lato', sans-serif; font-size:14px;}

  body(style="margin: 0; padding: 0;")
    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;', bgcolor='#e5e5e5')
      tr: td
        table(align='center', border='0', cellpadding='0', cellspacing='0', width='600')
          tr: td(align="center", style="font-size:12px; padding-top: 15px; padding-bottom: 15px;")
            span(style="color:#666666;") Problem viewing? Click to 
              a(href="") view online
          tr: td(bgcolor="#242424", align="center", valign="middle", style="padding-top: 30px; padding-bottom: 30px;")
            img(src='images/JbfLv2k.jpg', alt='', width='150', height='12', style='display: block;')
          tr: td(bgcolor="#ffffff", align="center", style='padding-top: 5px; padding-bottom: 5px;')
            a(href='#') NEW ARRIVAL
            | &nbsp;|&nbsp; 
            a(href='#') MEN
            | &nbsp;|&nbsp;  
            a(href='#') WOMEN
            | &nbsp;|&nbsp;
            a(href='#') ACCESORIES
            | &nbsp;|&nbsp;
            a(href='#') SALE
          tr: td
            img(src='images/banner.jpg', alt='', width='600', height='330', style='display: block;')
          tr: td(bgcolor="#242424", align="center", style="padding-top:10px; padding-bottom:10px;")
            span(style="color:#ffffff;") LAST CHANCE FOR FREE DELIVERY ON ORDER ABOVE $80
          tr: td(style='font-size: 0; line-height: 0;', height='20')  
          tr: td
            table(width="100%", border="0", cellpadding="0", cellspacing="0")
              tr 
                td(width="290") 
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                    tr: td(style="padding-bottom: 10px;") FASHION&nbsp;
                      span(style='font-weight: bold;') FEATURES 
                    tr: td(style="padding-top:20px; margin-top:10px; border-top:1px solid #666666;")
                      img(src='images/tem01_feature1.jpg', alt='', width='290', height='410', style='display: block;')
                td(style='font-size: 0; line-height: 0;', width='20')
                td(width="290") 
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                    tr: td(style="padding-bottom: 10px;") THIS WEEK'S&nbsp;
                      span(style='font-weight: bold;') MOST WANTED
                    tr: td(style="padding-top: 20px; border-top:1px solid #666666")
                      img(src='images/tem01_feature2.jpg', alt='', width='290', height='200', style='display: block;')
                    tr: td(style='font-size: 0; line-height: 0;', height='10')
                    tr: td
                      img(src='images/tem01_feature3.jpg', alt='', width='290', height='200', style='display: block;')
          tr: td(style='font-size: 0; line-height: 0;', height='20') 
          tr: td
            img(src='images/tem01_ads.jpg', alt="", width="600", height="129", style="display:block;")
          tr: td(style='font-size: 0; line-height: 0;', height='20')  
          tr: td(style="padding-bottom: 10px;")
            span WOMEN
          tr: td(style="padding-top:20px; border-top:1px solid #666666;")
          tr: td
            table(width="100%", border="0", cellpadding="0", cellspacing="0")
              tr 
                td(width="190", bgcolor="#ffffff") 
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                    tr: td
                      img(src='images/product01.jpg', alt='', width='190', height='200', style='display: block;')
                    tr: td
                      table(width="100%", border="0", cellpadding="0", cellspacing="0")
                        tr 
                          td(style='font-size: 0; line-height: 0;', width='15')
                          td(width="160")
                            table(width="100%", border="0", cellpadding="0", cellspacing="0")
                              tr: td(align="center", style="padding-top:10px; padding-bottom: 10px;") 
                                span SILK AND VELVET SHIRT
                              tr: td(align="center") 
                                span(style="font-weight:bold;") $48.00
                              tr: td(align="center", style="padding-top:10px; padding-bottom: 10px;")
                                table(width="100", border="0", cellpadding="0", cellspacing="0")
                                  tr: td(bgcolor="#ee273f", style="padding:10px; font-size:12px;") 
                                    a(href="#", style="color: #ffffff;text-decoration: none;") ADD TO CART
                          td(style='font-size: 0; line-height: 0;', width='15')
                    
                td(style='font-size: 0; line-height: 0;', width='20')
                td(width="190", bgcolor="#ffffff") 
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                    tr: td
                      img(src='images/product01.jpg', alt='', width='190', height='200', style='display: block;')
                    tr: td
                      table(width="100%", border="0", cellpadding="0", cellspacing="0")
                        tr 
                          td(style='font-size: 0; line-height: 0;', width='15')
                          td(width="160")
                            table(width="100%", border="0", cellpadding="0", cellspacing="0")
                              tr: td(align="center", style="padding-top:10px; padding-bottom: 10px;") 
                                span SILK AND VELVET SHIRT
                              tr: td(align="center") 
                                span(style="font-weight:bold;") $48.00
                              tr: td(align="center", style="padding-top:10px; padding-bottom: 10px;")
                                table(width="100", border="0", cellpadding="0", cellspacing="0")
                                  tr: td(bgcolor="#ee273f", style="padding:10px; font-size:12px;") 
                                    a(href="#", style="color: #ffffff;text-decoration: none;") ADD TO CART
                          td(style='font-size: 0; line-height: 0;', width='15')
                    
                td(style='font-size: 0; line-height: 0;', width='20')
                td(width="190", bgcolor="#ffffff") 
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                    tr: td
                      img(src='images/product01.jpg', alt='', width='190', height='200', style='display: block;')
                    tr: td
                      table(width="100%", border="0", cellpadding="0", cellspacing="0")
                        tr 
                          td(style='font-size: 0; line-height: 0;', width='15')
                          td(width="160")
                            table(width="100%", border="0", cellpadding="0", cellspacing="0")
                              tr: td(align="center", style="padding-top:10px; padding-bottom: 10px;") 
                                span SILK AND VELVET SHIRT
                              tr: td(align="center") 
                                span(style="font-weight:bold;") $48.00
                              tr: td(align="center", style="padding-top:10px; padding-bottom: 10px;")
                                table(width="100", border="0", cellpadding="0", cellspacing="0")
                                  tr: td(bgcolor="#ee273f", style="padding:10px; font-size:12px;") 
                                    a(href="#", style="color: #ffffff;text-decoration: none;") ADD TO CART
                          td(style='font-size: 0; line-height: 0;', width='15')
          tr: td(style='font-size: 0; line-height: 0;', height='20')
          tr: td(bgcolor="#ffffff")
            table(width="100%", border="0", cellpadding="0", cellspacing="0")
              tr: td(style='font-size: 0; line-height: 0;', height='15')
              tr: td
                table(width="100%", border="0", cellpadding="0", cellspacing="0")
                  tr
                    td(style='font-size: 0; line-height: 0;', width='15')
                    td(width="175", valign="top")
                      table(width="100%", border="0", cellpadding="0", cellspacing="0")
                        tr: td
                          span(style="font-weight: bold") PRODUCTS
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") NEW ARRIVAL 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") MEN 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") WOMEN 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") ACCESSORIES 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") SALE
                    td(style='font-size: 0; line-height: 0;', width='20')
                    td(width="180", valign="top")
                      table(width="100%", border="0", cellpadding="0", cellspacing="0")
                        tr: td
                          span(style="font-weight: bold") INFORMATION
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") FAQ 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") PAYMENT 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") SHIPPING 
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          a(href="#") RETURNS 
                    td(style='font-size: 0; line-height: 0;', width='20')
                    td(width="180", valign="top")
                      table(width="100%", border="0", cellpadding="0", cellspacing="0")
                        tr: td
                          span(style="font-weight: bold") SOCIAL
                        tr: td(style='font-size: 0; line-height: 0;', height='5')
                        tr: td
                          table(align="left," border="0", cellpadding="0", cellspacing="0")
                            tr
                              td(width="13")
                                a(href="#"): img(src="images/HtHMijr.jpg", width="13", height="14")
                              td(style='font-size: 0; line-height: 0;', width='10')
                              td(width="20")
                                a(href="#"): img(src="images/yYly6fL.jpg", width="20", height="14")
                              td(style='font-size: 0; line-height: 0;', width='10') 
                              td(width="8")
                                a(href="#"): img(src="images/j5bjd9V.jpg", width="8", height="15")
                              td(style='font-size: 0; line-height: 0;', width='10')
                              td(width="15")
                                a(href="#"): img(src="images/QRbJBj8.jpg", width="15", height="15")
                    td(style='font-size: 0; line-height: 0;', width='15') 
              tr: td(style='font-size: 0; line-height: 0;', height='15')
          tr: td(bgcolor="#242424", align="center", style="padding-top: 10px; padding-bottom: 10px; color: #999999;")
            span You're receiving this newsletter because you signed up at midnize.com |
            a(style="color: #999999; text-decoration: none;") Unsubscribe
          tr: td(style='font-size: 0; line-height: 0;', height='30')
                

