- function capitalize(string) {
  - return string.charAt(0).toUpperCase() + string.slice(1);
- }
mixin filterSize(arr)
  ul.list-unstyled
    each item in arr
      li: a.round-icon(href='javascript:void(0)') #{item}
mixin filterColor(arr)
  ul.list-unstyled
    each item in arr
      - if (!item)
        li: a.round-icon.color-box.white_border(href='javascript:void(0)')
      - else
        li: a.round-icon.color-box(href='javascript:void(0)', class=item)
//- extends layout to your side
extends layout/layout

block var
  - scriptpage = "product";
  - subPage = "product-page";
  - title = "Product page";
block breadcrumb
  +breadcrumb([["Home", "index.html"], ["Women", ""], ["Dresses", ""]], "Party dresses")
block content
  aside.sidebar.col-sm-4.col-md-3.hidden-xs
    //- category
    section.category-block
      header Categories
      .content-block 
        ul.list-unstyled
          +li(["New Arrivals <span>(547)</span>", ""])  
          +li(["Tops <span>(547)</span>", ""])  
          +li(["Shirts & Blouses <span>(860)</span>", ""])  
          +li(["Trousers <span>(118)</span>", ""])  
          +li(["Jeans <span>(131)</span>", ""])  
          +li(["Dresses <span>(624)</span>", ""]) 
    section.filter-block
      header Filter
      .content-block
        .filter-price
          h5 Filter By Price
          .noUiSlider
        .range-slider-value.clear
          span Price: $
          span#value-min 
          | &nbsp;- $
          span#value-max 
        .filter-size
          h5 Filter By Size
          +filterSize(['XS', 'S', 'M', 'L', 'XL', 'XXL'])
         
        .filter-color
          h5 Filter By Color
          +filterColor(['white', 'silver', 'black', 'tan', 'green', 'yellow'])
          +filterColor(['pink', 'tomato', 'purple', 'pattern', '', ''])
  #col-right.col-md-9.col-sm-8.col-xs-12.default-padding
    section.products-wrapper
      .col-xs-12.col-sm-12.center-xs.product-control
        .pull-left.view-filter
          a(href='')
            span.filter-newest Newest
          a(href='')
            span.filter-best-sellers Best sellers
          a(href='')
            span.filter-price Price
        .pull-right
          // NUMBER OF ITEMS TO BE DISPLAYED
          .pro-per-page.hidden-xs.pull-left
            .custom-select.fa.fa-caret-down.margin-r-10
              select
                option 9 per page
                option 12 per page
          // DISPLAY MODE
          ul.list-unstyled.layout-mode.pull-left
            li
              a#fitRows(href=''): i.fa.fa-th
            li
              a#fitColumns.active(href=''): i.fa.fa-th-list
          
      .products-layout.list.clearfix.row
        .col-md-4
          +product('Sleeveless Satin Princess Ankle-length Girl Dresses', 'pro-01', '$250.00', '210')
            +infoProduct('Sed ornare cras donec litora integer curabitur orci, at nullam aliquam libero nam himenaeos, amet massa amet ut ipsum viverra.')
        .col-md-4
          +product('Sleeveless Satin Princess Ankle-length Girl Dresses', 'pro-17', '$125.00', '40')
            +infoProduct('Nullam aliquam libero nam himenaeos, amet massa amet ut ipsum viverra mauris rhoncus neque aenean rhoncus gravida orci facilisis quis dui consectetur.')
        .col-md-4
          +product('Sleeveless Satin Princess Ankle-length Girl Dresses', 'pro-23', '$250.00', '145')
            +infoProduct('Sed ornare libero nam himenaeos, amet massa amet ut ipsum viverra mauris rhoncus neque aenean rhoncus gravida orci facilisis quis dui consectetur.')
        .col-md-4
          +product('Sleeveless Satin Princess Ankle-length Girl Dresses', 'pro-18', '$230.00', '27', '$300')
            +infoProduct('Litora integer curabitur orci, at nullam aliquam libero nam himenaeos, amet massa amet ut ipsum viverra mauris rhoncus neque aenean rhoncus gravida orci facilisis quis dui consectetur.')
        .col-md-4
          +product('Sleeveless Satin Princess Ankle-length Girl Dresses', 'pro-26', '$340.00', '188')
            +infoProduct('Sed ornare cras donec litora integer curabitur orci, at nullam aliquam libero nam himenaeos, amet massa amet ut ipsum viverra mauris rhoncus neque aenean rhoncus gravida orci facilisis quis dui consectetur.')
        
    // PAGINATION
    +pagination(1, 4, 1, 32)
