//- extends layout to your side
extends layout/layout
mixin account-list(arr)
  ul.list-unstyle
    - for (items in arr)
      - var item = arr[items]
        - if(item[1])
          li.active
            a(href="javascript:void(0);", title=item[0])!=item[0]
        - else
          li: a(href="javascript:void(0);", title=item[0])!=item[0]

block var
  - scriptpage = "home";
  - subPage = "register";
  - title = "Register";
block breadcrumb
  +breadcrumb([["Home", "index.html"],["Account", ""]], "Register")
block content
  aside.sidebar.col-sm-4.col-md-3.hidden-xs
    //- category
    section.account-block
      header Categories
      +account-list([["Acccount Infomation", "active"], ["Delivery Details",""], ["MY ORDERS",""],[" MY WISHLIST",""], ["Payment Method",""], ["Returns",""], ["Downloads",""], ["Newsletter",""], ["Logout",""]])

  .col-md-9.col-sm-8.col-xs-12
    .content-inner
      .row
        .col-xs-12.col-sm-6.col-md-6
          h4 New Customer
          p Checkout Options:
          form(action="#", method="post")#register-frm
            .radio.has-pretty-child
              .clearfix.prettyradio.labelright.blue.fakeInput
                input#radio-register.prettyCheckable.hide(type='radio', name='customer', checked='checked')
                a.checked(href='')
                label(for='radio-register') Register Account
            .radio.has-pretty-child
              .clearfix.prettyradio.labelright.blue.fakeInput
                input#radio-register.prettyCheckable.hide(type='radio', name='customer', checked='checked')
                a(href='')
                label(for='radio-register') Guest Checkout
            p By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.
            button.btn-grey Continue
        .col-xs-12.col-sm-6.col-md-6
          h4 Returning Customer
          form(action="#", method="post")#login-frm
            .form-group.stylish-input
              label.required(for='inputEmail') Email
              div(style='position:relative;')
                input#inputEmail(type='email', style='width:93%;', placeholder='ndt_kim@yahoo.com.vn')
                .ok-tipbox
                  i.iconfont-ok-sign
            .form-group.stylish-input
              label.required(for='inputPassword') Password
              div(style='position:relative;')
                input#inputPassword(type='text', style='width:93%;')
                .error-tipbox
                  i.iconfont-remove-sign
              a.help-block(href='') Forgot your password?
            button.btn-black Login
