<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fashion Shop</title>
<meta name="description" content="GFashion is Responsive Website."/>
<meta name="keywords" content="html, responsive, shop theme, shopping, bootstrap theme "/>
<meta name="author" content="Thien Kim">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/plugin/reset.css" type="text/css" />
<link rel="stylesheet" href="css/plugin/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/plugin/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/plugin/responsive.css" type="text/css" />
<!-- <link rel="stylesheet" href="css/plugin/component.css" type="text/css" /> -->

<link rel="stylesheet" href="css/plugin/jquery.fancybox.css" type="text/css" />
<!-- <link rel="stylesheet" href="css/flexslider.css" type="text/css" /> -->
<link rel="stylesheet" href="css/plugin/owl.carousel.css" type="text/css" />

</head>

<body id="compare_page">
<div class="container">
<!--begin Header-->
	<header class="header-block">
        <div class="logo-block clearfix">
            <div class="logo-wrapper">
                <a href="index.html">Fashion Shop</a>
            </div>
            <div id="dl-menu" class="dl-menuwrapper visible-xs pull-right">
                <button class="dl-trigger"><a href=""><i class="iconfont-reorder"></i></a></button>
                <ul class="dl-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                    <li>
                        <a href="#">Template pages </a>
                        <ul class="dl-submenu">
                            <li><a href="">Homepage</a></li>
                            <li><a  href="">Products grid listing</a></li>
                            <li><a  href="">Products table listing</a></li>
                            <li><a  href="">Product detail page</a></li>
                            <li><a  href="">Compare products</a></li>
                            <li><a  href="">Wishlist page</a></li>
                         </ul>
                      </li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Contact us</a></li>
                 </ul>
            </div>
            
            <div class="sub-menu hidden-xs">
                <div class="menu-item clearfix">
                    <ul class="option-list unstyled-list">
                        <li class="active"><a href="#">$</a></li>
                        <li><a href="#">£</a></li>
                        <li><a href="#">€</a></li>
                    </ul><!--// CURRENCY-->
                    <ul class="option-list unstyled-list">
                        <li class="active"><a href="#" title="English">EN</a></li>
                        <li><a href="#" title="France">FR</a></li>
                        <li><a href="#" title="De">DE</a></li>
                    </ul><!--// LANGUAGES-->
                </div>
                <div class="menu-item">
                    <ul class="menu-list center-xs unstyled-list">
                        <li><a href="my_account.html">My Account</a></li>
                        <li><a href="my_account.html">My Wishlist(3)</a></li>
                        <li><a href="compare_product.html">My Compare(2)</a></li>
                        <li><a href="cart.html">Checkout</a></li>
                        <li><a href="register.html">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>    
        
        <nav class="menu-block clearfix hidden-xs hidden-sm">
            <ul class="main-menu unstyled-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li class="has-child">
                    <a href="#">Template pages <b class="caret"></b></a>
                    <div class="dropdown-content mega-menu"  class="col-md-12">
                        <div class="col-md-3">
                            <h2 class="menu-title">Common pages</h2>
                            <ul class="mega-sub unstyled-list">
                                <li><a href="index.html">Homepage</a></li>
                                <li><a  href="product_list.html">Products grid listing</a></li>
                                <li><a  href="product.html">Products table listing</a></li>
                                <li><a  href="product_detail.html">Product detail page</a></li>
                                <li><a  href="compare_product.html">Compare products</a></li>
                                <li><a  href="my_account.html">Wishlist page</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="menu-title">Cart pages</h2>
                            <ul class="mega-sub unstyled-list">
                                <li><a href="emty_cart.html">Emty cart</a></li>
                                <li><a  href="cart.html">Checkout step 1</a></li>
                                <li><a  href="cart.html">Checkout step 2</a></li>
                                <li><a  href="cart.html">Checkout step 3</a></li>
                                <li><a  href="cart.html">Checkout step 4</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="menu-title unstyled-list">My pages</h2>
                            <ul class="mega-sub">
                                <li><a href="register.html">Registration</a></li>
                                <li><a  href="my_account.html">My account</a></li>
                                <li><a  href="blog.html">Blog listing</a></li>
                                <li><a  href="blog_detail.html">Blog detail</a></li>
                                <li><a  href="about_us.html">About us</a></li>
                                <li><a  href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                                <div class="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="images/slide1.jpg" alt="" />
                                        </div>
                                        <div class="item">
                                            <img src="images/slide2.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <h5 class="">Lorem ipsum dolor sit, consectetur adipiscing elit. </h5>
                                <a href="" class="btn-black" >Go to Shop →</a>
                        </div>
                    </div>
                </li>
                <li><a href="about_us.html">About us</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
            
            <div class="cart-block has-child pull-right">
                <a href="#" class="cart-view">
                    <i class="iconfont-shopping-cart"></i>
                    <span>My Cart: 4 item(s) - $ 790.00 </span>
                </a>
                <div id="sub-cart" class="subHeader dropdown-content">
                    <div class="cart-header  text-center">
                        <span class="empty-cart hide">Your cart is currently empty.</span>
                        <span>Displaying 2 of 4 items</span>
                        <a href="#">(See All)</a>
                    </div>
                    <ul class="cart-items unstyled">
                        <li>
                            <div class="item clearfix">
                                <button class="close">×</button>
                                <a href="#" class="cart-thumbnail">
                                    <img  src="images/pro-17.jpg" alt="" class="img-responsive" />
                                </a>
                                <div class="info">
                                    <a href="" class="cart-title">Halter Rhinestone Sleeveless Cocktail Dresses</a>
                                    <span class="cart-price">1 x $ 450.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item clearfix">
                                <button class="close">×</button>
                                <a href="#" class="cart-thumbnail">
                                    <img  src="images/pro-17.jpg" alt="" class="img-responsive"/>
                                </a>
                                <div class="info">
                                    <a href="" class="cart-title">Halter Rhinestone Sleeveless Cocktail Dresses</a>
                                    <span class="cart-price">1 x $ 450.00</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total clearfix">
                        <span class="pull-left">Total</span>
                        <span class="pull-right">$790</span>
                    </div>
                    <a href="#" class="btn-viewcart pull-right">View Cart</a>
                </div>
            </div>
        </nav>
    </header><!--end Header-->
	<!--end Header-->
    
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">My account</a>
        </li>
        <li class="active">JOHN DOE</li>
    </ol>
		
    <!--main content-->
    <div class="mainContent clearfix">
    	<!--sidebar-->
        <aside class="sidebar col-xs-12 col-sm-4 col-md-3 hidden-xs">
        	
            <section class="category-block">
                <header>Categories</header>
                <div class="content-block">
                    <ul id="category-list" class="unstyled-list">
                        <li >
                            <a href="#">New Arrivals <span class="middle-color">(547)</span></a>
                        </li>
                         <li class="active">
                            <a href="#">Tops <span class="middle-color">(320)</span></a>
                        </li>
                         <li>
                            <a href="#">Shirts & Blouses <span class="middle-color">(860)</span></a>
                        </li>
                        <li>
                            <a href="#">Trousers <span class="middle-color">(118)</span></a>
                        </li>
                         <li>
                            <a href="#">Jeans <span class="middle-color">(131)</span></a>
                        </li>
                        <li>
                            <a href="#">Dresses <span class="middle-color">(624)</span></a>
                        </li>
                         <li>
                            <a href="#">Skirts <span class="middle-color">(329)</span></a>
                        </li>
                        <li>
                            <a href="#">Jackets & Coats <span class="middle-color">(197)</span></a>
                        </li>
                         <li>
                            <a href="#">Nightwear <span class="middle-color">(328)</span></a>
                        </li>
                        <li>
                            <a href="#">Dresses <span class="middle-color">(624)</span></a>
                        </li>
                         <li>
                            <a href="#">Skirts <span class="middle-color">(329)</span></a>
                        </li>
                        <li>
                            <a href="#">Wedding Dresses <span class="middle-color">(17)</span></a>
                        </li>
                         <li>
                            <a href="#">Nightwear <span class="middle-color">(328)</span></a>
                        </li>
                        <li>
                            <a href="#">Shoulder Bag <span class="middle-color">(647)</span></a>
                        </li>
                         <li>
                            <a href="#">Skirts <span class="middle-color">(329)</span></a>
                        </li>
                        <li>
                            <a href="#">Jackets & Coats <span class="middle-color">(197)</span></a>
                        </li>
                         <li>
                            <a href="#">Shoes <span class="middle-color">(328)</span></a>
                        </li>
                    </ul>
                </div>
            </section><!-- /category-block -->
        </aside>
        <!--sidebar-->
        
        <div id="col-right" class="col-md-9 col-sm-8 col-xs-12 default-padding clearfix">
        	 <!--begin compare item-->
             <div class="compare-column compare-item clearfix col-md-4 col-sm-4 col-xs-6">
                <a href="" class="remove">×</a>
                <header>PRO-D50021</header>
                <div class="compare-row compare-image">
                	<a href="" title=""><img src="images/pro-19.jpg" alt="" class="img-responsive"/></a>
                </div>
                <div class="compare-row compare-product">
                	<a href="" title="" class="">Les Deux Magots Dress</a>
                </div>
                <div class="compare-row compare-rating middle-color">
                	<div class="rate-bar">
                        <div class="rateit-selected "></div>
                    </div>
                    <span>16 reviews</span>
                </div>
                <div class="compare-row compare-price active-color">
                    <strong>125,90 €</strong>
                    <del class="middle-color">147,00 €</del>
                </div>
                <div class="compare-row compare-text ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                </div>
                <div class="compare-row compare-action">
                <button class="btn-cta" type="submit">Add to cart</button>
                </div>
            </div> <!--/ compare item-->
            <!--begin compare item-->
             <div class="compare-column compare-item clearfix col-md-4 col-sm-4 col-xs-6">
                <a href="" class="remove">×</a>
                <header>PRO-D50021</header>
                <div class="compare-row compare-image">
                    <a href="" title=""><img src="images/pro-19.jpg" alt="" class="img-responsive"/></a>
                </div>
                <div class="compare-row compare-product">
                    <a href="" title="" class="">Les Deux Magots Dress</a>
                </div>
                <div class="compare-row compare-rating middle-color">
                    <div class="rate-bar">
                        <div class="rateit-selected "></div>
                    </div>
                    <span>16 reviews</span>
                </div>
                <div class="compare-row compare-price active-color">
                    <strong>125,90 €</strong>
                    <del class="middle-color">147,00 €</del>
                </div>
                <div class="compare-row compare-text ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                </div>
                <div class="compare-row compare-action">
                <button class="btn-cta" type="submit">Add to cart</button>
                </div>
            </div> <!--/ compare item-->
            <!--begin compare item-->
             <div class="compare-column compare-item clearfix col-md-4 col-sm-4 col-xs-6">
                <a href="" class="remove">×</a>
                <header>PRO-D50021</header>
                <div class="compare-row compare-image">
                    <a href="" title=""><img src="images/pro-19.jpg" alt="" class="img-responsive"/></a>
                </div>
                <div class="compare-row compare-product">
                    <a href="" title="" class="">Les Deux Magots Dress</a>
                </div>
                <div class="compare-row compare-rating middle-color">
                    <div class="rate-bar">
                        <div class="rateit-selected "></div>
                    </div>
                    <span>16 reviews</span>
                </div>
                <div class="compare-row compare-price active-color">
                    <strong>125,90 €</strong>
                    <del class="middle-color">147,00 €</del>
                </div>
                <div class="compare-row compare-text ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                </div>
                <div class="compare-row compare-action">
                <button class="btn-cta" type="submit">Add to cart</button>
                </div>
            </div> <!--/ compare item-->
            
            
           
        </div>
    </div>
    
    <!--footer-->
<footer class="clearfix">
	<div class="widgets col-xs-12 col-sm-6 col-md-3">
        <h5 class="widget-title">Customer Service</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <a href="">Specials</a>
                </li> 
                <li>
                    <a href="">New products</a>
                </li>
                <li>
                    <a href="">Best sellers</a>
                </li>
                <li>
                    <a href="">Our stores</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="widgets col-xs-12 col-sm-6 col-md-3">
        <h5 class="widget-title">INFORMATION</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <a href="">My Account</a>
                </li> 
                <li>
                    <a href="">Shipping</a>
                </li>
                <li>
                    <a href="">Payment & Return</a>
                </li>
                <li>
                    <a href="">Privacy policy</a>
                </li>
                <li>
                    <a href="">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="widgets col-xs-12 col-sm-6 col-md-3">
        <h5 class="widget-title">My Account</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <a href="">My Account</a>
                </li> 
                <li>
                    <a href="">Order History</a>
                </li>
                <li>
                    <a href="">Wish List</a>
                </li>
                <li>
                    <a href="">Newsletter</a>
                </li>
            </ul>
        </div>
    </div>
     
     
	<div class="widgets col-xs-12 col-sm-6 col-md-3 clearfix">
        <h5 class="widget-title">Contact Us</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <i class="round-icon iconfont-map-marker list-icon"></i>
                    <a href="" class="list-content">1259, CALIFORNIA ST<br /> NEW YORK.</a>
                </li>
                <li>
                    <i class="round-icon iconfont-phone list-icon"></i>
                    <a href="" class="list-content">843.724.0123 <br /> 843.724.0234</a>
                </li>
                <li>
                    <i class="round-icon iconfont-envelope-alt list-icon"></i>
                    <a href="" class="list-content">info@company.com <br />ndt_kim@yahoo.com.vn</a>
                </li>
            </ul>
        </div>
    </div>   
    
            
    <div class="footer-sub clearfix col-md-12 col-xs-12">
    	<div class="footer-links center-xs pull-left">
          <p class="copyright center-xs">© 2014 Fashion Demo Store designed by Kim Nguyen. All Rights Reserved. </p>
        </div>
        <div class="center-xs vmid pull-right">
        	<span>Payment Accept</span>
            <a href="#"><img src="images/icon-mastercard.png" width="41" height="27"/></a>
            <a href="#"><img src="images/icon-paypal.png" width="41" height="27"/></a>
            <a href="#"><img src="images/icon-visa-e.png" width="41" height="27"/></a>
        </div>
    </div>
    <div id="back-top">
        <a href="#"><i class="iconfont-chevron-up"></i></a>
    </div>
</footer>
</div>


<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.dlmenu.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		 $(function () {
			$("[rel='tooltip']").tooltip();
		});
		// Mega menu
		 $('.has-child').hover(function(){
			$(this).find('.dropdown-content').stop().slideDown('400','easeInQuad');
		  },
		  function(){
			$(this).find('.dropdown-content').stop().slideUp('slow');
		  });
		  
		  
		// hide #back-top first
		$("#back-top").hide();
		
		// fade in #back-top
		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > 100) {
					$('#back-top').fadeIn();
				} else {
					$('#back-top').fadeOut();
				}
			});
	
			// scroll body to 0px on click
			$('#back-top a').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});
		
		$( '#dl-menu' ).dlmenu();
	});
</script>
</body>
</html>
