<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fashion Shop</title>
<meta name="description" content="GFashion is Responsive Website."/>
<meta name="keywords" content="html, responsive, shop theme, shopping, bootstrap theme "/>
<meta name="author" content="Thien Kim">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" href="images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/responsive.css" type="text/css" />
<link rel="stylesheet" href="css/component.css" type="text/css" />
<script src="js/modernizr.custom.js"></script>

</head>

<body id="register_page">
<div class="wraper">
<!--begin Header-->
	<div class="headerWrapper">
        <div class="">
        	<div class="header-inner clearfix">
                <div class="logoWrapper ">
                    <a href="#"><img src="images/logo02.png" alt="" width="" height=""/></a>
                </div>
                
                <div id="dl-menu" class="dl-menuwrapper visible-xs pull-right">
                    <button class="dl-trigger"><a href=""><i class="iconfont-reorder"></i></a></button>
                    <ul class="dl-menu">
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">Women</a></li>
                    	<li><a href="#">Men</a></li>
                        <li>
                            <a href="#">Template pages </a>
                            <ul class="dl-submenu">
                                <li><a href="">Homepage</a></li>
                                <li><a  href="">Products grid listing</a></li>
                                <li><a  href="">Products table listing</a></li>
                                <li><a  href="">Product detail page</a></li>
                                <li><a  href="">Compare products</a></li>
                                <li><a  href="">Wishlist page</a></li>
                             </ul>
                          </li>
                          <li><a href="#">About us</a></li>
                    	  <li><a href="#">Contact us</a></li>
                     </ul>
                </div>
                
                <div class="pull-right hidden-xs">
                    <div class="clearfix">
                        
                        <!--// CURRENCY-->
                        <ul class="option-list">
                            <li class="active"><a href="#">$</a></li>
                            <li><a href="#">£</a></li>
                            <li><a href="#">€</a></li>
                        </ul>
                        <!--// LANGUAGES-->
                        <ul class="option-list">
                            <li class="active"><a href="#" title="English">EN</a></li>
                            <li><a href="#" title="France">FR</a></li>
                            <li><a href="#" title="De">DE</a></li>
                        </ul>
                    </div>
                	
                    <!-- user related menu-->
                    <div class="sub-menu clearfix">
                        <ul class="user-menu center-xs ">
                            <li><a href="my_account.html">My Account</a></li>
                            <li><a href="my_account.html">My Wishlist(3)</a></li>
                            <li><a href="compare_product.html">My Compare(2)</a></li>
                            <li><a href="cart.html">Checkout</a></li>
                            <li><a href="register.html">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>    
            
            <nav class="site-menu clearfix hidden-xs hidden-sm">
                <ul class="main-menu ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                    <li class="has-child">
                    	<a href="#">Template pages <b class="caret"></b></a>
                        <div class="dropdown-content mega-menu"  class="col-md-12">
                            <div class="col-md-3">
                                <h4 class="menu-title">Common pages</h4>
                                <ul class="mega-sub">
                                    <li><a href="index.html">Homepage</a></li>
                                    <li><a  href="product_list.html">Products grid listing</a></li>
                                    <li><a  href="product.html">Products table listing</a></li>
                                    <li><a  href="product_detail.html">Product detail page</a></li>
                                    <li><a  href="compare_product.html">Compare products</a></li>
                                    <li><a  href="my_account.html">Wishlist page</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4 class="menu-title">Cart pages</h4>
                                <ul class="mega-sub">
                                    <li><a href="emty_cart.html">Emty cart</a></li>
                                    <li><a  href="cart.html">Checkout step 1</a></li>
                                    <li><a  href="cart.html">Checkout step 2</a></li>
                                    <li><a  href="cart.html">Checkout step 3</a></li>
                                    <li><a  href="cart.html">Checkout step 4</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4 class="menu-title">My pages</h4>
                                <ul class="mega-sub">
                                    <li><a href="register.html">Registration</a></li>
                                    <li><a  href="my_account.html">My account</a></li>
                                    <li><a  href="blog.html">Blog listing</a></li>
                                    <li><a  href="blog_detail.html">Blog detail</a></li>
                                    <li><a  href="about_us.html">About us</a></li>
                                    <li><a  href="contact.html">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                    <div class="carousel">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="images/slide1.jpg" alt="" />
                                            </div>
                                            <div class="item">
                                                <img src="images/slide2.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="">Featured Products</h5>
                                    <p>Lorem ipsum dolor sit, consectetur adipiscing elit. </p>
                                    <a href="" class="btn-black" >Go to Shop →</a>
                        	</div>
                        </div>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
                
                <div class="cart-wrapper has-child pull-right" style="position:relative;">
                            <a href="#" class="cart-link">
                                <i class="iconfont-shopping-cart"></i>
                                <span class="cart-view">My Cart: 4 item(s) - $ 790.00 </span>
                            </a>
                            <div id="sub-cart" class="subHeader dropdown-content">
                                <div class="cart-header">
                                    <span class="empty-cart hide">Your cart is currently empty.</span>
                                    <span>Displaying 2 of 4 items</span>
                                    <a href="#">(See All)</a>
                                </div>
                                <ul class="cart-items unstyled">
                                    <li>
                                        <div class="item clearfix">
                                            <button class="close">×</button>
                                            <a href="#" class="entry-thumbnail">
                                                <img  src="images/pro-17.jpg" alt="" />
                                            </a>
                                            <div class="info">
                                                <strong class="entry-title">
                                                    <a href="">Halter Rhinestone Sleeveless Cocktail Dresses</a>
                                                </strong>
                                                <span class="entry-price">1 x $ 450.00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item clearfix">
                                            <button class="close">×</button>
                                            <a href="#" class="entry-thumbnail">
                                                <img  src="images/pro-21.jpg" alt="" />
                                            </a>
                                            <div class="info">
                                                <strong class="entry-title">
                                                    <a href="">Sweetheart High Side Slit Chiffon Pageant Dress</a>
                                                </strong>
                                                <span class="entry-price">2 x $ 320.00</span>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                                <div class="cart-footer ">
                                    <div class="cart-total clearfix">
                                        <span class="pull-left">Total</span>
                                        <span class="pull-right">$790</span>
                                    </div>
                                    <div style="text-align:right;" >
                                        <a href="#" class="btn-viewcart">View Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
            </nav>
                
        </div>
    </div>
	<!--end Header-->
    
    <!--begin breadcrumb-->
    <div class="breadcrumb-wrapper pull-left">
        <a href="">Home </a>
        <a href="">Account </a>
        <a href="">Register </a>
    </div>
    <!--end breadcrumb-->

    <!--main content-->
	<div class="mainContent clearfix">
    	<!--sidebar-->
        <aside class="sidebar col-xs-12 col-sm-4 col-md-3 hidden-xs">
        	<section>
            	<header>My account</header>
            
                <ul class="my-account-box menu-style2" class="unstyled">
                    <li class="active">
                        <a href="#">Acccount Infomation</a>
                    </li>
                    <li>
                        <a href="#">Delivery Details</a>
                    </li>
                    <li>
                        <a href="#">MY ORDERS</a>
                    </li>
                    <li>
                        <a href="#">MY WISHLIST</a>
                    </li>
                    <li>
                        <a href="#">Payment Method</a>
                    </li>
                    <li>
                        <a href="#">Returns</a>
                    </li>
                    <li>
                        <a href="#">Downloads</a>
                    </li>
                    <li>
                        <a href="#">Newsletter</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li> 
                </ul>
            </section>
            
        </aside>
        <!--sidebar-->
        
        <div id="col-right" class="col-md-9 col-sm-8 col-xs-12 ">
        	<div class="row">
        		<header>Account Login</header>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <form>
                        <h4>New Customer</h4>
                        <div class="inner">
                            <p>Checkout Options:</p>
                            <div class="form-account">
                                <div class="radio has-pretty-child">
                                    <div class="clearfix prettyradio labelright  blue fakeInput ">
                                        <input type="radio" name="customer" id="radio-register" class="prettyCheckable hide" checked="checked" />	
                                        <a href="" class="checked"></a>
                                        <label for="radio-register">Register Account</label>

                                    </div>
                                </div>
                                <div class="radio has-pretty-child">
                                    <div class="clearfix prettyradio labelright  blue fakeInput ">
                                        <input type="radio" name="customer" id="radio-register" class="prettyCheckable hide" checked="checked" />	
                                        <a href=""></a>
                                        <label for="radio-register">Guest Checkout</label>

                                    </div>
                                </div>
                                <p class="light-color">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                <button class="btn-grey">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <form>
                            <h4>Returning Customer</h4>
                            <div class="inner">
                                <p>I'm a Returning Customer</p>
                                <div class="form-login">
                                    <div class="form-group stylish-input">
                                        <label for="inputEmail" class="required">Email</label>
                                        <div style="position:relative;">
                                            <input type="email" id="inputEmail" style="width:93%;" placeholder="ndt_kim@yahoo.com.vn"/>
                                            <div class="ok-tipbox"><i class="iconfont-ok-sign"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group stylish-input">
                                        <label for="inputPassword" class="required">Password</label>
                                        <div style="position:relative;">
                                            <input type="text" class="" id="inputPassword" style="width:93%;" />
                                            <div class="error-tipbox"><i class="iconfont-remove-sign"></i></div>
                                        </div>
                                        <a href="" class="help-block">Forgot your password?</a>
                                    </div>
                                   
                                    <button class="btn-black">Login</button>
                                </div>
                            </div>
                    </form>
                </div>
             </div>
        </div>   
    </div>
    
    <!--footer-->
<footer class="clearfix">
	<div class="widgets col-xs-12 col-sm-6 col-md-3">
        <h5 class="widget-title">Customer Service</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <a href="">Specials</a>
                </li> 
                <li>
                    <a href="">New products</a>
                </li>
                <li>
                    <a href="">Best sellers</a>
                </li>
                <li>
                    <a href="">Our stores</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="widgets col-xs-12 col-sm-6 col-md-3">
        <h5 class="widget-title">INFORMATION</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <a href="">My Account</a>
                </li> 
                <li>
                    <a href="">Shipping</a>
                </li>
                <li>
                    <a href="">Payment & Return</a>
                </li>
                <li>
                    <a href="">Privacy policy</a>
                </li>
                <li>
                    <a href="">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="widgets col-xs-12 col-sm-6 col-md-3">
        <h5 class="widget-title">My Account</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <a href="">My Account</a>
                </li> 
                <li>
                    <a href="">Order History</a>
                </li>
                <li>
                    <a href="">Wish List</a>
                </li>
                <li>
                    <a href="">Newsletter</a>
                </li>
            </ul>
        </div>
    </div>
     
     
	<div class="widgets col-xs-12 col-sm-6 col-md-3 clearfix">
        <h5 class="widget-title">Contact Us</h5>
        <div class="widget-content">
            <ul class="unstyled">
                <li>
                    <i class="round-icon iconfont-map-marker list-icon"></i>
                    <a href="" class="list-content">1259, CALIFORNIA ST<br /> NEW YORK.</a>
                </li>
                <li>
                    <i class="round-icon iconfont-phone list-icon"></i>
                    <a href="" class="list-content">843.724.0123 <br /> 843.724.0234</a>
                </li>
                <li>
                    <i class="round-icon iconfont-envelope-alt list-icon"></i>
                    <a href="" class="list-content">info@company.com <br />ndt_kim@yahoo.com.vn</a>
                </li>
            </ul>
        </div>
    </div>   
    
            
    <div class="footer-sub clearfix col-md-12 col-xs-12">
    	<div class="footer-links center-xs pull-left">
          <p class="copyright center-xs">© 2014 Fashion Demo Store designed by Kim Nguyen. All Rights Reserved. </p>
        </div>
        <div class="center-xs vmid pull-right">
        	<span>Payment Accept</span>
            <a href="#"><img src="images/icon-mastercard.png" width="41" height="27"/></a>
            <a href="#"><img src="images/icon-paypal.png" width="41" height="27"/></a>
            <a href="#"><img src="images/icon-visa-e.png" width="41" height="27"/></a>
        </div>
    </div>
    <div id="back-top">
        <a href="#"><i class="iconfont-chevron-up"></i></a>
    </div>
</footer>
</div>


<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.dlmenu.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		 $(function () {
			$("[rel='tooltip']").tooltip();
		});
		// Mega menu
		 $('.has-child').hover(function(){
			$(this).find('.dropdown-content').stop().slideDown('400','easeInQuad');
		  },
		  function(){
			$(this).find('.dropdown-content').stop().slideUp('slow');
		  });
		  
		  
		// hide #back-top first
		$("#back-top").hide();
		
		// fade in #back-top
		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > 100) {
					$('#back-top').fadeIn();
				} else {
					$('#back-top').fadeOut();
				}
			});
	
			// scroll body to 0px on click
			$('#back-top a').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});
		
		$( '#dl-menu' ).dlmenu();
	});
</script>
</body>
</html>
