mixin footer-menu(heading, content) 
  .widget.col-xs-12.col-sm-6.col-md-3&attributes(attributes)
    h5.widget-title Customer Service
    .widget-content
      +menu(content)
footer
  .widgets.clearfix                
    +footer-menu('Customer Service', [['Specials',''], ['New products',''], ['Best sellers',''], ['Our stores',''], ['Contact us','contact.html']]).hidden-xs
    +footer-menu('Information', [['My Account', ''], ['Shipping', ''], ['Payment & Return', ''], ['Privacy policy', ''], ['Terms & Conditions', '']]).hidden-xs
    +footer-menu('My Account', [['Order History', ''], ['Wish List', ''], ['Newsletter', ''], ['Log in', '']]).hidden-xs
    .widget.col-xs-12.col-sm-6.col-md-3.clearfix
      h5.widget-title Contact Us
      .widget-content
        ul.list-unstyled
          li
            i.round-icon.fa.fa-map-marker.list-icon
            span 1259, CALIFORNIA ST <br/> NEW YORK.
          li
            i.round-icon.fa.fa-phone.list-icon
            span 843.724.0123 <br/> 843.724.0234
          li
            i.round-icon.fa.fa-envelope.list-icon
            span info@company.com <br/> ndt_kim@yahoo.com.vn
  .footer-sub.clearfix.col-md-12.col-xs-12
    .footer-links.center-xs &copy; 2014 Fashion Demo Store designed by 
      +a("Kim Nguyen", "https://thienkim-frontend.github.io/cv/")
      | . All Rights Reserved. 

 