.about{
	section{
		margin-bottom: 40px;
	}
	.who-we-are{
		.content-block{
			background-color: $white;
			margin-left: -10px;
			padding-left: 20px;
		}
	}
	.features{
		.content-block{
			position: relative;
			height: 100%;
			padding: 20px;
			text-align: center;
			background-color: $white;
			h4{
				color: $dark-grey;
			}
		}
	}
	.our-team{
		text-align: center;
		.content-block{
			background-color: #fff;
			padding: 10px;
		}
		.photo-wrapper{
			img{
				width: 100%;
				-webkit-filter: grayscale(100%);
				transition: -webkit-filter 0.2s ease-out;
			}
			&:hover img{
				-webkit-filter: grayscale(0);
			    -ms-filter: grayscale(0);
			    filter: grayscale(0)
			}
		}
		h3{
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 5px;;
		}
		.team-position{
			display: block;
			font-size: 11px;
			color: $highlight-color;
			margin-bottom: 20px;
		}
	}
}
.flipImage{
	width: 120px;
	height: 120px;
	position: relative;
	margin: 0 auto 20px;
	> i{
		font-size: 35px;
		display: block;
		line-height: 95px;
		@include border-radius(50%);
		border: 10px solid #E0E0E0;
		background-color: $white;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		@include transition(all .4s ease-in-out);
	}
	.frontImg {
		@include transform(rotateX(0deg) rotateY(0deg));
	}
	.backImg {
		width:100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		color: $highlight-color;
		@include transform(rotateY(-180deg));
	}
	&:hover{
		.frontImg {
			@include transform(rotateY(180deg));
		}
		.backImg {
			@include transform(rotateX(0deg) rotateY(0deg));
			z-index: 10;
		}
	} 
}


