.panel{
	border:0;
	border-radius:0;
	@inclue box-shadow(0 1px 4px rgba(0,0,0,.2));
	+ .panel{
		margin-top: 20px!important;
	}
	.panel-heading {
		background: $white;
		padding: 10px 20px;
		h2{ margin-bottom: 0; }
		a{
			position:relative;
			display:block;
			&:after{
				font-family: fontawesome;
				content:"\e671";
				position:absolute;
				right:0px;
				top:0px;
				font-size:14px;
			}
			&.collapsed:after{
				content:"\e670";
			}
		}
		&:hover{
			a{ color: $highlight-color; }
			.step{ color: $black; }
		}
	}
	.panel-body {
		padding: 20px;
		background: $white;
	}
}
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	border-top: none;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: $grey;
}
input[type=email], 
input[type=password], 
input[type=tel], 
input[type=text], 
input[type=number], 
select, textarea {
	background-color: $grey;
	padding: 5px 10px;
	border:0;
	@include border-radius(3px);
	@include box-shadow(inset 0 1px rgba(143,143,143,.3),0 1px #fff);
}
input[type=radio]{
	display:none;
}
label.required:after {
    content: ' *';
    color: #ff5757;
    position: relative;
    top: -5px;
}
.radio {
	a {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		vertical-align: middle;
		@include border-radius(50%);
		background: $white;
		border: 1px solid #e0e0e0;
		cursor: pointer;
	}
	input[type="radio"]:checked + a:after {
	content: ' ';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #b6b6b6;
	}
}
 
.input-style {
	font-size: 12px;
	padding: .5em 1em;
	border-radius: 0px !important;
	background:#F0F0F0!important;
	border:0;
}

.menu-style2{
background:none;	
}
.menu-style2 li{
padding:10px;
border-bottom:1px solid #dedede;
background:#fff;
text-transform:uppercase;
}
.menu-style2 .active, .menu-style2 li:hover{
background:#f2f2f2;
}

.checkout legend {
font-weight: bold;
text-transform: uppercase;
margin-bottom: 5px;
}
.checkout fieldset > .inner {
padding: 15px;
}


// .error-tipbox, .ok-tipbox, .remove-icon{
// position: absolute;
// top: 5px;
// right: 0px;
// font-size:20px;
// }
// .ok-tipbox{
// color:#0CBB05;
// }
// .error-tipbox{
// color:#E90606;
// }

#register_page #col-right{
background: #f2f2f2;
padding-bottom: 20px;
box-shadow: 0 1px 4px rgba(0,0,0,.2);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
#register_page #col-right header{
padding: 7px 15px;
background:#fff;
text-transform:uppercase;
font-weight:bold;
}
#register_page #col-right .inner{
padding:10px;
}