.compare-column{
	background-color: $white;
	text-align: center;
	position: relative;
	+ .compare-column{
		&:before{
			content: "";
			display: block;
		    height: 100%;
		    position: absolute;
		    top: 0;
			left: 0;
			border-left: 1px solid $grey;
		}
	}
	.compare-row {
		padding: 20px;
		+ .compare-row{
			margin: 0 -10px;
			padding: 10px 20px;
			border-top: 1px solid $grey;
		}
	}
	header{
		margin: 0 -10px;
		padding: 10px;
		background-color: $dark-grey;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;	
	}
	.compare-text{
		text-align: justify;
	}
	.remove{
		color: $dark-grey;
		position: absolute;
		top: -15px;
	    right: -15px;
	    z-index: 99;
	    width: 35px;
	    height: 35px;
	    font-size: 21px;
	    font-weight: bold;
	    line-height: 35px;
		display: none;
		background-color: $white;
		@include transition(.2s all ease);
		@include border-radius(50%);
	}
	&:hover{
		.remove{
			display: block;
		}
	}
}

