.fancybox-ad{
	position: relative;
	width:700px;
	height: 300px;
	background-color: $grey;
	text-transform: uppercase;
	[class*="col"]{
		padding: 0;
	}
	.header{
		padding:20px;
		margin: 0px 15px;
		font-size: 16px;
		font-weight:bold;
		border-bottom:1px solid #E4E4E4;
	}
	.off{
		line-height: 45px;
		font-size: 50px;
		float: left;
		margin-right: 14px;
		text-shadow: 0px 1px 0px #969191;
		-webkit-text-shadow: 0px 1px 0px #969191;
	}
	.special-text{
		color: #DF0A71;
	}
	.main{
		margin:0px 15px;
		padding:15px 0;
		text-align: center;
		border-top:1px solid #fff;
	}
	input[type="text"]{
		border-radius: 0px;
		border: 1px solid $black;
		padding: 8px 10px;
	}
	.btn{
		padding: 8px 20px;
		height: 40px;
		color: $white;
		background-color: $black;
		border-radius: 0px;
	}
	.list-inline>li{
	  padding-right: 0;
	  .round-icon{ border-color: $grey;}
	}
	.social-icon{
		margin-top: 80px;
		position: absolute;
		right: 10px;
		bottom: 20px;
	}
}
.fancybox-skin{
border-radius: 0px!important;	
}
.fancybox-inner{
overflow:hidden !important;
}
// banner
.banner-block{
	.banner-item{
		position:relative;
		overflow: hidden;
		img{
			border: 10px solid #303030;
			width: 100%;
			@include transition(all 0.5s ease-out);
		}
		.titles {
			position:absolute;
			left: 22px;
			bottom: 5px;
			color: $white;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		.title02 {
			font-size: 22px;
			margin-top: 5px;
			margin-bottom: 20px;
		}
		.title03 {
			font-weight:bold;
			color: lighten($black, 40%);
			margin-top:-15px;
		}
		.triangle {
			position:absolute;
			top: 0;
			left: 10px;
			border-top: 200px solid transparent;
			border-left: 273px solid rgba(0, 0, 0, 0.8);
			@include transition(all 0.2s ease-out)	
		}
		&:hover{
			.triangle, .titles{
				left:-300px;
			}
			img{
				border-color: $white;
			}
		}
	}
}
.newsletter {
	display: flex;
	align-items: center;
	padding: 20px 10px;
	margin-top: 15px;
	margin-bottom:15px;
	color: $white;
	background-color: $black;
	span{
		font-size: 18px;
		line-height: 1.5em;
	}
	input[type="email"]{
		@include border-radius(0);
		width: 100%;
	}
	button{
		position: absolute;
		top: 0;
		bottom: -1px;
		right: 10px;
		padding: 0 10px;
		border:0;
		color: $white;
		background-color: $highlight-color;
	}
}

#progressBar { 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	background: rgba(0,0,0,.2); 
	z-index: 5; 
	#bar{ 
		width: 0%; 
		max-width: 100%; 
		height: 3px; 
		background: rgba(0, 0, 0, .7);
	}
}
.main-slider{
	.owl-nav {
		> div{
			@include opacity(0);
			position: absolute;
			top: 50%;
			margin-top: -30px;
			@include transition(all .3s ease);
		}
		.owl-prev{ left: 0; }
		.owl-next{ right: 0; }
	}
	.round-icon{
		padding-top: 12px;
    	font-size: 24px;
    	background-color: rgba(255, 255, 255, .5);
    	border: none;
	}
	&:hover{
		.owl-nav > div { @include opacity(1);}
		.owl-next{ right: 20px; }
		.owl-prev{ left: 20px; }
	} 
	.owl-dots{
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left: -40px;
		.owl-dot {
			display: inline-block;
			span {
			    display: block;
			    width: 10px;
			    height: 10px;
			    margin: 5px 7px;
			    @include opacity(0.5);
			    @include border-radius(20px);
			    background-color: #869791;
			}
			&.active span{
				@include opacity(1);
			}
		}
	}
}
.owl-carousel{ 
	display: block;
	overflow: hidden; 
	img{
		width: 100%;
	}
}
.customNavigation{
	position: absolute;
	top: -5px;
	right: 0;
	a{
		display: inline-block;
    margin-left: 5px;
    &:hover i{
    	color: $white;
    	background-color: $dark-grey;
    }
	}
}

.testimonial{
	.testimonial-txt{ 
		position: relative;
		padding: 15px;
		color: $white;
		background-color: $highlight-color;
		&:before{
			content: "";
	    position: absolute;
	    bottom: -27px;
	    width: 0;
	    height: 0;
	    border-left: 5px solid transparent;
	    border-right: 20px solid transparent;
	    border-top: 28px solid $highlight-color;
	    right: 10px;
	    z-index: 50;
		}
		p{margin-bottom: 0;}
	}
	.user-icon {
		background: url(../images/user-icon.png) no-repeat center center;
		width: 35px; 
		height: 42px;
	}
	.testimonial-intro{
		background-color: #f9f9f7;
		padding-left: 15px;
		height: 205px;
		overflow: hidden;
		position: relative;
		.content{
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
		.title{
			margin-top: 15px;
			font-weight: bold;
		}
		li{
			float: left;
	    margin-right: 10px;
	    text-align: center;
		}
		h6{
    	font-weight: bold;
      padding-bottom: 5px;
    	border-bottom: $dark-grey solid 1px;
		}
		small{
			font-size: 10px;
			color: $dark-grey;
		} 
	}
}
.office{
	.office-gallery{
		background-color: #f9f9f7;
		padding: 10px 0 0 10px;
	}
	li{
		display: inline-table;
		margin: 0 2px 6px 2px;
		img{ width: 84px;}
	}
}
.latest-news{
	.list-item{
		display: block;
		position: relative;
		padding: 10px 20px 10px 10px;
		background-color: #f9f9f7;
		overflow: hidden;
		&:after{
			content: "\f105";
	    font: normal normal normal 14px/1 FontAwesome;
	    position: absolute;
	    top: 50%;
	    right: 10px;
	    font-size: 30px;
	    margin-top: -15px;
	    color: $dark-grey;
		}
		&:hover{
			.top_half {
		    top: 0;
			}
			.bottom_half {
				bottom: 0;
			}
			.info{
				opacity: 1;
		    transition-delay: 300ms;
		    -webkit-transition-delay: 300ms;
		    -moz-transition-delay: 300ms;
			}
		}
		+ .list-item{
			margin-top: 10px;
		}
		> a{
			width: 20%;
			float: left;
			padding-right: 10px;
		}
		img {
			width: 100%;
		}
		.detail{ 
			width: 75%; 
			float: left;
			.fa {margin-right: 10px;}
			h5{padding-bottom:0;}
		}
		.bottom_half {
	    bottom: -50%;
		}
		.top_half {
	    top: -50%;
		}
		.top_half, .bottom_half {
	    right: 0;
	    width: 80%;
	    height: 50%;
	    position: absolute;
	    z-index: 11;
	    @include transition(all 200ms linear) ;
	    background-color: $highlight-color;
		}
		.info {
	    width: 80%;
	    position: absolute;
	    z-index: 12;
	    top: 50%;
	    right: 0;
	    opacity: 0;
	    text-align: center;
	    margin-top: -15px;
	    font-size: 25px;
	    color: $white;
	    .fa + .fa{
	    	margin-left: 25px;
		    border-left: 1px solid #f9f9f7;
		    padding-left: 25px;
		    line-height: 30px;
	    }
		}
	}
}