// product block
.icon-01 {
	@include transition(all .2s ease);
}
.icon-02 {
	@include transition(all .3s ease);
}
.icon-03{
	@include transition(all .4s ease);
}
.product {
	position: relative;
	padding:10px;
	border: 1px solid #dedede;
	background-color: #fff;
	@include box-shadow(0 0 5px rgba(0,0,0,.15));
	.entry-media {
		position: relative;
		background-color: #ccc;
		min-height: 150px;
		text-align: center;
	}
	.sale-icon{
		text-transform: uppercase;
		position: absolute;
		right:10px;
		top: 20px;
		z-index: 2;	
		color: #fff;
		padding: 5px 10px;
		background-color: #DF0A71;
	}
	.entry-main {
		margin-top: 10px;
		background-color: $white;
		color: #1f1f1f;
	}
	.entry-title {
		margin-bottom: 0;
		padding-right: 70px;
	}
	.recent-order{
		float:right;
		.order{
			font-weight:bold;
		}
	}
	.price{
		margin-top: 10px;
		display: inline-block;
		color: $highlight-color;
		font-weight: bold;
	}
	.remove-icon{
		display:none;
		color: $black;
		top: -10px;
		right:-10px;
		font-size:25px;
	}
}
.photo-wrapper{
	position: relative;
	overflow: hidden;
	.icon-style{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;	
		i {
			@include border-radius(50%);
			position: relative;
			top: -60px;
			display: inline-block;
			height: 35px;
			width: 35px;
			margin: 0 5px;
			color: $white;
			font-size: 20px;
			line-height: 35px;
			background-color: #575555;
			@include box-shadow(0 0 0 5px rgba(255, 255, 255, 0.5));
			&:hover{
				color:#DF0A71;
				background-color: #fff;
			}
		}
	}
	&:hover{
		.icon-style i{
			top: 50%;
			margin-top: -35px;
		}
		.remove-icon{
			display:block;
		}
	}
}
.noUiSlider{
	height: 10px;
	.noUi-target {
		border: none;
	}
	.noUi-handle {
		background: transparent url('../images/img-slider-handle.png') no-repeat top left;
		border-radius: 0;
		cursor: pointer;
		@include transition(all 0.1s ease-out);
		box-shadow:none;
		border:0;
		&:after, &:before{display:none;}
	}
	.noUi-background {
		height: 8px;
		background-color: #fafafa;
		.noUi-handle{
			margin-left: 3px;
		}
	}
	.noUi-connect {
		background: $highlight-color url('../images/bg-slider-stripes.png') repeat-x!important;
		cursor: pointer;
		border-top: 1px solid rgba(150,150,150,0.2);
		.noUi-handle{
			margin-left: 14px;
		}
	}
}
.range-slider-value {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #919191;	
}
.view-filter{
	span{
		position:relative;
		margin-right:20px;
		line-height: 30px;
		&:after{
			content: ".";
			text-indent: -100px;
			display: block;
			background:url(../images/list-2013.png) no-repeat 0 -1635px;
			width: 10px;
			height: 10px;
			position: absolute;
			right: -15px;
			top: 5px;
			overflow: hidden;
		}
		&.filter-price{
			span:after{
			background-position:0 -1847px !important;
			}
		}
	}
}
.filter{
	&-block{
		li{
			margin: 0 5px 5px;
			display:inline-block;
		}
		.round-icon{
			width: 2.5em;
			height: 2.5em;
			padding-top: .6em;
		}
	}
	&-size{
		.round-icon{
			font-size: $base-fontsize;
			&:hover{
				border-color: $highlight-color;
				color: $highlight-color;
			}
		}
	}
	&-color{
		.round-icon{
			@include opacity(.4);
			&:hover{
				@include opacity(1);
			}
		}
	}
}

/*================================
product layout - list
=======================================*/
.products-layout{
	.product{
		margin-bottom: 10px;
		.visible-list{
			display: none;
		}
	}
	&.list{
		[class*="col-"]{
			width: 100%;
		}
		.photo-wrapper {
			display:table-cell;
			width: 140px;
		}
		.entry-main {
			display:table-cell;
			vertical-align:top;
			padding:0px 10px;
			.price{
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
		.visible-list {
			display: block;
		}
		.hidden-list{
			display: none;
		}
		.button-group{
			a{
				display: inline-block;
			}
			i{
				margin-right: 5px;
			}
		}
	}
}
.pagination{
	display: block;
	margin-top: 10px;
	li{
		padding-right: 0;
	}
	a{
		display: block;
		background:#fff;
		padding: 10px 15px;
		&.active{
			color:#DF0A71 !important;
		}
	}
	.page-info{
		margin-top: 10px;
	}
}
.product-control{
	.layout-mode{
		li{
			display:inline-block;
		}
		a{
			margin-left:5px;
			padding:5px;
			background:#888686;
			display:inline-block;
			font-size:14px;
			color:#fff !important;
			&.active{
				background:#DF0A71;
			}
		}
	}
	.pro-per-page{
		margin:3px 5px 0px 0px;	
	}
}

