.product-preview{
	overflow: hidden;
	.big-image {
		border: 1px solid #fff;
		.elevatezoom > div{
			margin-bottom: 22px;
		}
		img{
			width: 100% !important;
			padding-right: 22px;
		}
	}
	.image-thumb {
		display: block;
		border: 1px solid #ffffff;
		&.active, &:hover{
			img{
				-webkit-filter: grayscale(0%);
				filter: grayscale(0%);
			}
		}
		img{
			-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	    	filter: grayscale(100%);
		}
	}
	.owl-controls {
		display:block!important;
		.owl-prev {
			left: 10px;
		}
		.owl-next {
			right: 10px;
		}
		.owl-nav > div {
			position: absolute;
			top: 30%;
			z-index:9999;
			padding: 2px 0;
			@include opacity(.8);
			i{
				border: none;
			}
		}
	}
}

.product-details {
	// background-color: $white;
	padding: 10px;
	.entry-header{
		position: relative;
	}
	.entry-review-count {
		color: #919191;
		font-size: 0.925em;
		margin: 0 5px;
	}
	.print-block{
		position: absolute;
		right: 0;
		top: 0;
	}
	input[type="number"]{
		width: 80px;
		background-color: transparent;
		@include box-shadow(none);
	}
}
.preview-block{
	background-color: $white;
	padding: 10px 0;
	margin-bottom: 20px;
}
.info-details {
	position: relative;
	z-index: 0;
	margin: 15px 0;
	li{
		display: flex;
		align-items: center;
		min-height: 30px;
		span{
			&:first-child{
				width:150px;
				display: inline-block;
				position: relative;
				&:after {
				  content: ": ";
				  position: absolute;
				  right: 10px;
				}
			}
		}
	}
	.discount{
		margin-left: 10px;
		border-radius: 1.5em;
		padding: 4px 10px;
		background: #DF0A71;
		color:#fff;
	}
	.product-social-icon li{
		display:inline-block;
	}
}
.sizes{
	display: inline-block;
	margin: 10px 0 5px!important;
	> span {
		margin-right: 7px;
	}
	label {
		position: relative;
		margin-right: 20px;
		input[type="radio"] {
			display: none;
		}
		input[type="radio"]:checked {
			+ b{
				&:before{
					content: "";
					position: absolute;
					z-index: -1;
					top:-50%;
					left: 0;
					width: 30px;
					height: 30px;
				    margin-left: -7px;
					border-radius: 50%;
					background-color: $grey;
				}
			}
		}
		&:hover{
			b{
				&:before{
					content: "";
					position: absolute;
					z-index: -1;
					top:-50%;
					left: 0;
					width: 30px;
					height: 30px;
				    margin-left: -7px;
					border-radius: 50%;
					background-color: $grey;
				}
			}	
		}
	}
	
}
.colors{
	label{
		margin-right: 10px;
		@include border-radius(50%);
		overflow: hidden;
		&:hover{
			b:before{
				opacity:0.1;
			}
		}
		b{
			position:relative;
			display: inline-block;
			width: 30px;
			height: 30px;
			&:before{
				content: '';
				position: absolute;
				top: -1px;
				bottom: -1px;
				left: -1px;
				right: -1px;
				background-image: -webkit-linear-gradient(top left, rgb(236, 236, 236) 49%, transparent 10%);
				background-image: -moz-linear-gradient(top left,rgb(236, 236, 236) 49%, transparent 10%);
				background-image: -o-linear-gradient(top left, rgb(236, 236, 236) 49%, transparent 10%);
				background-image: linear-gradient(to bottom right, rgb(236, 236, 236) 49%, transparent 10%);
				@include opacity(.5);
			}
		}
		input[type="radio"]{
			display:none;
			&:checked + b:before{
				opacity:0.1;
			}
		}
	}
} 
.ad-block{
	margin-bottom: 20px;
	[class*="-block"]{
		height: 100%;
		border: 1px solid $grey;
		background-color: $white;
		padding: 20px;
	}
	.buy-protection-block{
		h3{
			margin-top: 20px;
	    	margin-left: 80px;
	    	color: #03396b;
		}
		li{
			margin-bottom: 10px;
		}
		img{
			width:70px; 
			height:60px;
		}
	}
}

.rate-bar {
	width: 60px;
	height: 12px;
	position: relative;
	display:inline-block;
	background: url(../images/star.png);
	.rateit-selected {
		background: url(../images/star.png) left -12px;
		height: 12px;
		width: 54px;
		display: block;
		position: absolute;
		left: 0;
	}
}
.product-nav {
	border-bottom: 5px solid #3D3D3D !important;
	& > li{
		margin-bottom: 0;
		> a {
		border: 0!important;
		border-radius: 0!important;
		margin-right: 2px;
		background: $grey;
		color: #1f1f1f;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1;
		padding: 1em 2em;
		}
		&.active{
			a, a:focus, a:hover{
				border: 0;
				color: #f2f2f2!important;
				background: #3D3D3D!important;
			}
		}
	}
}
.tab-pane{
	padding: 20px;
	background-color: $white;
}

#home{
	td{
		padding: 10px;
		border-top: 1px solid $grey;
	}
	span{
		color: $dark-grey;
		font-style: italic;
	} 
}

#maintenance ol{
	list-style: decimal inside;
	li{
		margin-bottom: 10px;
    	line-height: 1.5em;
	}
}

#sizechart {
	.table-custom{
		width: 100%;
		padding-right: 196px;
		margin-bottom: 20px;
		td:first-child{
			width: 128px; 
		}
	}
	table{
		width: 100%;
	  	table-layout: fixed;
	  	th{
			border: 1px solid $grey;
			text-align: center;
			padding: 5px;
	  	}
		td{
			border: 1px solid $grey;
			padding: 5px;
			&:nth-child(2n){
				background-color: $light-grey;
			}
			&:not(:first-child){
				text-align: center;
				overflow:hidden;
			
			}
		}
	}
}
.review{
	padding-bottom:10px;
	border-bottom: 1px solid $grey;
	margin-bottom: 20px;
	.info{
		color: $dark-grey;
	}
	.social-icon{
		position: relative;
		z-index: 0;
		i{
			display: inline-block;
			position: relative;
			width: 36px;
			height: 36px;
			padding-top: 8px;
			font-size: 24px;
			text-align: center;
			color: $grey;
			border-bottom: 5px solid $grey;
			margin: 0 -2px;
			@include transition(all .2s ease-out);
			&:after{
				content: "";
				position: absolute;
				z-index: -1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0%;
				background-color: $highlight-color;
				@include transition(all .2s ease-out);
				@include opacity(0);
			}
			&:hover{
				color: $white;
				border-bottom: 5px solid $highlight-color;
				&:after{
					height: 100%;
					@include opacity(1);
				}
			} 
		}
	}
}


