$base-color: #333;
$highlight-color: #DF0A71;
$white: #fff;
$black: #000;
$light-grey: #fbfbfb;
$grey: #eee;
$dark-grey: #888686;
$font: "Helvetica Neue", Arial, sans-serif; 
$iconfont: fontawesome;
$sm-fontsize: 10px;
$base-fontsize: 14px;
$lg-fontsize: 16px;
$default-border-radius: 1.5em; 


@each $color, $value in ('white': #fff, 'silver': silver, 'black': rgb(82, 81, 81), 'tan': rgb(210, 180, 140), 'green': rgb(107, 142, 35), 'yellow': rgb(224, 204, 18), 'pink': rgb(252, 134, 193), 'tomato': rgb(253, 119, 95), 'purple': purple, 'pattern': url(../images/pattern.png)) {
  .#{$color} {
    background: $value!important;
  }
}
@mixin arrowRight($width, $color: $highlight-color){
	border-top: $width solid transparent;
	border-bottom: $width solid transparent;
	border-left: $width solid $color;	
}
@mixin arrowLeft($width, $color: $highlight-color){
	border-top: $width solid transparent;
	border-bottom: $width solid transparent;
	border-right: $width solid $color;	
}
@mixin arrowUp($width, $color: $highlight-color){
	border-left: $width solid transparent;
	border-right: $width solid transparent;
	border-bottom: $width solid $color;	
}
@mixin arrowDown($width, $color: $highlight-color){
	border-left: $width solid transparent;
	border-right: $width solid transparent;
	border-top: $width solid $color;		
}

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}
// @mixin mixinBefore($top, $bottom, $left, $right, $margin-top, $content:""){
// 	content: $content;
// 	position: absolute;
// 	@if $top {top: $top;}
// 	@if $left {left: $left;}
// 	@if $bottom {bottom: $bottom;}
// 	@if $right {right: $right;}
// 	margin-top: $margin-top;
// }
.main-color{
	color: $highlight-color;
}
.highlight{
	color: $highlight-color;
}
.grey{
	color:#D3D1D1;
}
