// http://compass-style.org/reference/compass/css3/
@import "compass/reset";
@import "compass/css3";
@import "layout/_menu";
@import "layout/_sidebar";
@import "layout/_footer";
@import "_variables";
@import "_layout";
@import "_responsive";
@import "_home";
@import "_product";
@import "_account";
@import "_about";
@import "_cart";
@import "_blog";
@import "_product_details";
@import "_compare_product";
/* 
@include font-face();
@include box-shadow();
@include box-sizing();
@include transition(); 
@include transform();
@include transform-origin();
@include transform3d();
@include perspective();
@include backface-visibility();
@include display-flex(inline-flex); 		 flex (default), inline-flex
@include align-items(center);				 flex-start | flex-end | center | baseline | stretch
@include justify-content(center);			 flex-start | flex-end | center | space-between | space-around
@include align-content();					 flex-start | flex-end | center | space-between | space-around | stretch
@include text-shadow();
@include opacity();
@include background(image-url("foo.png"),
  linear-gradient(to bottom right, #333, #0c0),
  radial-gradient(#c00, #fff 100px));
*/
// @mixin transform($transforms...) {
// 	   -moz-transform: $transforms;
// 	     -o-transform: $transforms;
// 	    -ms-transform: $transforms;
// 	-webkit-transform: $transforms;
//           transform: $transforms;
// }
@mixin arrowRight($width, $color: $highlight-color){
	border-top: $width solid transparent;
	border-bottom: $width solid transparent;
	border-left: $width solid $color;	
}
@mixin arrowLeft($width, $color: $highlight-color){
	border-top: $width solid transparent;
	border-bottom: $width solid transparent;
	border-right: $width solid $color;	
}
@mixin arrowUp($width, $color: $highlight-color){
	border-left: $width solid transparent;
	border-right: $width solid transparent;
	border-bottom: $width solid $color;	
}
@mixin arrowDown($width, $color: $highlight-color){
	border-left: $width solid transparent;
	border-right: $width solid transparent;
	border-top: $width solid $color;		
}
@mixin mixinBefore($top, $bottom, $left, $right, $margin-top, $content:""){
	content: $content;
	position: absolute;
	@if $top {top: $top;}
	@if $left {left: $left;}
	@if $bottom {bottom: $bottom;}
	@if $right {right: $right;}
	margin-top: $margin-top;
}
